<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10pk;
      }
    </style>
    <div class="container">
      <div class="row">
        <div>
          <<h1 class="col-lg-12">Gestor de clientes</h1>
          <button on-click="obtenerClientes">Obtener  clientes</button>
          <table hidden$="{{noCargados}}">
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                <tr>
                  <td>
                    [[item.CustomerID]]
                  </td>
                  <td>
                    [[item.ContactName]]
                  </td>
                  <td>
                    [[item.CompanyName]]
                  </td>
                  <td>
                    [[item.ContactTitle]]
                  </td>
                  <td>
                    [[item.City]]
                  </td>
                  <td>
                    [[item.City]]
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: false
          },
          respuesta: {
            type: String,
            value: ''
          }
        };
      }
      obtenerClientes()
      {
        var request = new XMLHttpRequest();
        request.open("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
        noCargados = false;
      }
      anadirClientes()
      {
        var request = new XMLHttpRequest();
        request.open("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
