<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="guille-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">

        <label><b>Username</b></label>
        <input type="text" value="{{usrString::input}}" id="uname" required>

        <label><b>Password</b></label>
        <input type="password" value="{{pwdString::input}}" placeholder="Enter Password" name="psw" required>
        <button on-click="hacerLogin" type="submit">Login</button>
        <label><b>{{msgString}}</b></label>
      </div>
      </div>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GuilleLogin extends Polymer.Element {
      static get is() { return 'guille-login'; }
      static get properties() {
        return {
          usrString: {
            type: String,
            value: 'User'
          },
          pwdString: {
            type: String,
            value: 'Password'
          },
          msgString: {
            type: String,
            value: ''
          }
        };
      }
      hacerLogin()
      {
        console.log(this.usrString + ' ' + this.pwdString);
        if(this.usrString == 'pepe' && this.pwdString == 'pepote'){
          this.msgString = 'Login correcto!';
        }else{
          this.msgString = 'Login incorrecto!';
        }
      }
    }

    window.customElements.define(GuilleLogin.is, GuilleLogin);
  </script>
</dom-module>
